
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$theme-color: $blue;
$theme-color-dark: darken($theme-color, 10%);

$post-date-color: #9a9a9a;
$post-meta-spacing: .5rem;
$title-color: #313131;
$masthead-title-small-color: #c0c0c0;

/* Font stack */
$bodyFont: Roboto, Arial, sans-serif;
$headerFont: "Roboto Slab", Roboto, Arial, sans-serif;

$font-serif: "PT Serif", Georgia, "Times New Roman", serif;
$font-sans: "PT Sans", Helvetica, Arial, sans-serif;
$font-font-awesome: FontAwesome;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
